/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
#myHead {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bolder;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  padding: 30px;
  background-color: white;
}

#display {
  font-size: 4rem;
  font-family: monospace;
  margin-bottom: 20px;
}

#controls button {
  font-size: 1.7rem;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#startbtn {
  background-color: rgb(19, 164, 9);
  color: white;
}
#startbtn:hover {
  background-color: rgb(68, 222, 54);
}

#stopbtn {
  background-color: rgb(255, 0, 0);
  color: white;
}
#stopbtn:hover {
  background-color: rgb(217, 92, 81);
}

#resetbtn {
  background-color: rgb(0, 76, 168);
  color: white;
}
#resetbtn:hover {
  background-color: rgb(31, 120, 230);
}

/* ===== Responsive Adjustments ===== */

/* Tablets & smaller laptops */
@media (max-width: 768px) {
  #myHead {
    font-size: 40px;
  }

  #display {
    font-size: 3rem;
  }

  #controls button {
    font-size: 1.4rem;
    padding: 8px 16px;
  }

  #container {
    padding: 25px;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  body {
    padding: 20px 0;
  }

  #myHead {
    font-size: 32px;
    text-align: center;
  }

  #container {
    width: 90%;
    padding: 20px;
  }

  #display {
    font-size: 2.5rem;
  }

  #controls {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #controls button {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin: 6px 0;
  }
}
