* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: aliceblue;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.btn {
  background-color: #62d316;
  color: #181717;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: 0.2s;
}

.btn:hover {
  background-color: #4db30f;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 1000px;
  width: 100%;
}

.gallery img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

#copied-msg {
  color: #90ee90;
  margin-top: 15px;
  display: none;
  font-size: 16px;
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
