body {
  background: #ffffff;
  color: #111;
  transition: 0.4s ease;
}

body.night {
  background: #020402;
  color: #ffffff;
}

#themeToggle {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

body.night #themeToggle {
  background: #404040;
  color: #ffffff;
}
